<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{paymentType.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{paymentType.add.headline}]]</h1>
                <div>
                    <a th:href="@{/paymentTypes}" class="btn btn-secondary">[[#{paymentType.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('paymentType')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='paymentType', field='dateCreated', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='paymentType', field='lastUpdated', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='paymentType', field='name', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='paymentType', field='description', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='paymentType', field='processingFee')}" />
                <div th:replace="~{fragments/forms::inputRow(object='paymentType', field='supportedCurrencies')}" />
                <input type="submit" th:value="#{paymentType.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
