<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{employee.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{employee.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/employees}" class="btn btn-secondary">[[#{employee.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('employee')}" />
            <form th:action="${requestUri}" method="post">
                <input type="submit" th:value="#{employee.edit.headline}" class="btn btn-primary mt-4 mb-4" />
                <div th:replace="~{fragments/forms::inputRow(object='employee', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='employee', field='dateOfHire', required=true, inputClass='js-datepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='employee', field='salary', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='employee', field='dateCreated', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='employee', field='lastUpdated', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='employee', field='benefits')}" />
                <div th:replace="~{fragments/forms::inputRow(object='employee', field='contactInformation')}" />
                <div th:replace="~{fragments/forms::inputRow(object='employee', field='education', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='employee', field='skills')}" />
                <div th:replace="~{fragments/forms::inputRow(object='employee', field='performanceReviews')}" />
                <div th:replace="~{fragments/forms::inputRow(object='employee', field='employeeStatus', required=true, type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='employee', field='department', required=true, type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='employee', field='manager', required=true, type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='employee', field='person', required=true, type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='employee', field='jobTitle', required=true, type='select')}" />
                <input type="submit" th:value="#{employee.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
