<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{employee.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{employee.list.headline}]]</h1>
                <div>
                    <a th:href="@{/employees/add}" class="btn btn-primary ms-2">[[#{employee.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${employees.empty}">[[#{employee.list.empty}]]</div>
            <div th:if="${!employees.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{employee.id.label}]]</th>
                            <th scope="col">[[#{employee.dateOfHire.label}]]</th>
                            <th scope="col">[[#{employee.salary.label}]]</th>
                            <th scope="col">[[#{employee.dateCreated.label}]]</th>
                            <th scope="col">[[#{employee.lastUpdated.label}]]</th>
                            <th scope="col">[[#{employee.benefits.label}]]</th>
                            <th scope="col">[[#{employee.contactInformation.label}]]</th>
                            <th scope="col">[[#{employee.education.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="employee : ${employees}">
                            <td>[[${employee.id}]]</td>
                            <td>[[${employee.dateOfHire}]]</td>
                            <td>[[${employee.salary}]]</td>
                            <td>[[${employee.dateCreated}]]</td>
                            <td>[[${employee.lastUpdated}]]</td>
                            <td>[[${employee.benefits}]]</td>
                            <td>[[${employee.contactInformation}]]</td>
                            <td>[[${employee.education}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/employees/edit/{id}(id=${employee.id})}" class="btn btn-sm btn-secondary">[[#{employee.list.edit}]]</a>
                                    <form th:action="@{/employees/delete/{id}(id=${employee.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{employee.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
