<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
  
<html lang="en" 
      xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    
    <head>
        <title>[[#{jobTitle.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{jobTitle.list.headline}]]</h1>
                <div>
                    <a th:href="@{/jobTitles/add}" class="btn btn-primary ms-2">[[#{jobTitle.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${jobTitles.empty}">[[#{jobTitle.list.empty}]]</div>
            <div th:if="${!jobTitles.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{jobTitle.id.label}]]</th>
                            <th scope="col">[[#{jobTitle.name.label}]]</th>
                            <th scope="col">[[#{jobTitle.description.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="jobTitle : ${jobTitles}">
                            <td>[[${jobTitle.id}]]</td>
                            <td>[[${jobTitle.name}]]</td>
                            <td>[[${jobTitle.description}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/jobTitles/edit/{id}(id=${jobTitle.id})}" class="btn btn-sm btn-secondary">[[#{jobTitle.list.edit}]]</a>
                                    <form th:action="@{/jobTitles/delete/{id}(id=${jobTitle.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <div><button type="submit" class="btn btn-sm btn-secondary">[[#{jobTitle.list.delete}]]</button></div>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
