<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{emailNotification.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{emailNotification.add.headline}]]</h1>
                <div>
                    <a th:href="@{/emailNotifications}" class="btn btn-secondary">[[#{emailNotification.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('emailNotification')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='emailNotification', field='dateCreated', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='emailNotification', field='dateSent', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='emailNotification', field='lastUpdated', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='emailNotification', field='sentAt', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='emailNotification', field='subject', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='emailNotification', field='body', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='emailNotification', field='loanContract', required=true, type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='emailNotification', field='person', required=true, type='select')}" />
                <input type="submit" th:value="#{emailNotification.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
