<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{lender.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{lender.add.headline}]]</h1>
                <div>
                    <a th:href="@{/lenders}" class="btn btn-secondary">[[#{lender.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('lender')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='lender', field='maxLoanAmount', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='lender', field='creditScore', required=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='lender', field='dateCreated', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='lender', field='lastUpdated', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='lender', field='observations', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='lender', field='person', required=true, type='select')}" />
                <input type="submit" th:value="#{lender.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
