<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{maritalStatus.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{maritalStatus.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/maritalStatuses}" class="btn btn-secondary">[[#{maritalStatus.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('maritalStatus')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='maritalStatus', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='maritalStatus', field='dateCreated', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='maritalStatus', field='lastUpdated', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='maritalStatus', field='name', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='maritalStatus', field='description')}" />
                <input type="submit" th:value="#{maritalStatus.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
