<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{paymentDatails.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{paymentDatails.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/paymentDatailss}" class="btn btn-secondary">[[#{paymentDatails.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('paymentDatails')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='paymentDatails', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='paymentDatails', field='paymentAmount', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='paymentDatails', field='paymentDate', required=true, inputClass='js-datepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='paymentDatails', field='dateCreated', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='paymentDatails', field='lastUpdated', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='paymentDatails', field='notes')}" />
                <div th:replace="~{fragments/forms::inputRow(object='paymentDatails', field='paymentType', required=true, type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='paymentDatails', field='loanContract', required=true, type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='paymentDatails', field='paymentStatus', required=true, type='select')}" />
                <input type="submit" th:value="#{paymentDatails.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
