<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>

        <!-- Incluye el fragmento headerTemplate -->
    <th:replace th:fragment="commonHeader" th:include="fragments/headerTemplate"></th:replace>

    <title>System Error</title>

    <script>
        function goBack() {
            window.history.back();
        }
    </script> 

</head>
<body>
    <div layout:fragment="content">
        <h1 class="mb-4">
            <p th:text="${errorMessage}"></p>
        </h1>

        <!-- Botón de retorno utilizando Bootstrap -->
        <div class="text-center">
            <button class="btn btn-primary" onclick="goBack()">Return</button>
        </div>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>    
</body>
</html>
