<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head layout:fragment="head">
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="icon" type="image/ico" th:href="@{/img/favicon.ico}" />

        <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}" />  

        <title th:text="${title}">ISIWEEK Loan Services</title>        
    </head>

    <body>

        <div layout:fragment="content">
        </div>

    </body>
</html>
