<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <!-- Appender para la consola -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5level %logger{36} - Line %L: %msg%n" />
        </Console>

        <!-- Appender para el archivo de registro rodante -->
        <RollingFile name="RollingFile" fileName="system.log"
            filePattern="system-%d-%i.log">
            <PatternLayout pattern="%d [%t] %-5level %logger{36} - Line %L: %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <!-- Agregar ambos appenders a la raíz del registro -->
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Root>
    </Loggers>
</Configuration>

