<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
  
<html lang="en" 
      xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    
    <head>
        <title>[[#{loanType.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{loanType.add.headline}]]</h1>
                <div>
                    <a th:href="@{/loanTypes}" class="btn btn-secondary">[[#{loanType.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('loanType')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='loanType', field='name')}" />
                <div th:replace="~{fragments/forms::inputRow(object='loanType', field='description')}" />
                <div><input type="submit" th:value="#{loanType.add.headline}" class="btn btn-primary mt-4" /></div>
            </form>
        </div>
    </body>
</html>
