<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_auth}">

    <head>
        <title th:text="#{user.register}">Registration of a User</title>
    </head>

    <body class="body-link">
        <div layout:fragment="content">
            <section>

                <div class="row justify-content-center">
                    <div class="d-flex align-items-center">
                        <h1 th:text="#{user.register}">User Signup</h1>

                        <div class="button-link">
                            <a th:href="@{/auth/login}" class="button-link">Login</a>
                        </div>

                        <div th:replace="~{fragments/forms::globalErrors('data')}" />
                        <form th:action="@{/auth/signup}" method="post">
                            <div th:replace="~{fragments/forms::inputRow(object='data', field='email', required=true, type='email')}" />
                            <div th:replace="~{fragments/forms::inputRow(object='data', field='password', required=true, type='password')}" />
                            <div th:replace="~{fragments/forms::inputRow(object='data', field='confirmPassword', required=true, type='password')}" />
                            <div th:replace="~{fragments/forms::inputRow(object='data', field='role', required=true, type='select')}" />
                            <input type="submit" value="Registrar" class="btn btn-primary mt-4" />
                        </form>
                    </div>
                </div>                            
            </section>
        </div>
    </body>
</html>
