<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
  
<html lang="en" 
      xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <title>[[#{criminalRecord.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{criminalRecord.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/criminalRecords}" class="btn btn-secondary">[[#{criminalRecord.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('criminalRecord')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='criminalRecord', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='criminalRecord', field='name')}" />
                <div th:replace="~{fragments/forms::inputRow(object='criminalRecord', field='description')}" />
                <div><input type="submit" th:value="#{criminalRecord.edit.headline}" class="btn btn-primary mt-4" /></div>
            </form>
        </div>
    </body>
</html>
