.margin-right-15 {
    margin-right: 25px;
}

.body-link {
    background-color: rgba(12, 53, 106, 0.5);
    color: white;
    margin: 0;
    padding: 0;
    padding-top: 56px;
    /* Add other styles as needed */

    min-height: 100vh;
    display: flex;
    flex-direction: column;

    padding-bottom: 0px;
    background-image: url('../img/logo384x384.png');
    background-position: center;
    background-size: 80% auto;
    background-repeat: no-repeat;
}

.text-white {
    color: white;
}


.footer-link {
    background-color: rgba(12, 53, 106, 0.00);
    color: white;
}


.form-link {
    background-color: rgba(8, 28, 63, 0.25);
    color: white;
    padding: 20px;
    width: 25%;
    margin: 0 auto; /* Centrar el formulario en la página */
    border-radius: 10px; /* Bordes redondeados */
}

label {
    display: block; /* Hace que las etiquetas estén en líneas separadas */
    margin-bottom: 5px; /* Espaciado inferior para las etiquetas */
}

input {
    width: 90%; /* Ocupa el 100% del ancho disponible */
    padding: 8px; /* Espaciado interno para los campos de entrada */
    margin-bottom: 10px; /* Espaciado inferior para los campos de entrada */
}


input[type="submit"] {
    background-color: #4caf50; /* Color de fondo del botón de envío */
    color: white; /* Color de letra para el botón de envío */
    display: inline-block;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    width: auto;
    padding: 5px 10px; /* Ajusta el relleno según tus preferencias */
}

.centered-image {
    text-align: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin: 0;
}

.container {
    margin-top: 5px;
}

.rounded-image {
    border-radius: 10px;
}

.button-link {
    display: inline-block;
    padding: 10px 20px; /* Espaciado alrededor del texto */
    background-color: #007bff; /* Color de fondo */
    color: #fff; /* Color del texto */
    text-decoration: none; /* Elimina subrayado predeterminado */
    border-radius: 5px; /* Añade bordes redondeados */
    transition: background-color 0.3s; /* Efecto de transición */
}

.button-link:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse */
}

.form-container {
    text-align: center; /* Centra el contenido del formulario */
    margin: auto; /* Centra el formulario horizontalmente */
    width: 50%; /* Ancho del formulario */
    padding: 20px; /* Espaciado interno del formulario */
    background-color: rgba(8, 28, 63, 0.25); /* Color de fondo del formulario */
    border-radius: 10px; /* Bordes redondeados del formulario */
}

.form-container a {
    display: block; /* Hace que los enlaces estén en líneas separadas */
    width: 100%; /* Ancho del enlace */
    margin-bottom: 10px; /* Espaciado inferior entre los enlaces */
}

.form-container input[type="text"],
.form-container input[type="password"] {
    width: 100%; /* Ocupa el 100% del ancho disponible */
    padding: 8px; /* Espaciado interno para los campos de entrada */
    margin-bottom: 10px; /* Espaciado inferior para los campos de entrada */
}

.form-container input[type="submit"] {
    background-color: #4caf50; /* Color de fondo del botón de envío */
    color: white; /* Color de letra para el botón de envío */
    border: none; /* Elimina el borde del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    width: 100%; /* Ancho del botón */
    padding: 10px; /* Espaciado interno del botón */
}

.form-link {
    width: 100%; /* Ancho completo del formulario */
    text-align: center; /* Centrar el contenido del formulario */
}

.form-link .button-link {
    display: block; /* Hace que los enlaces estén en líneas separadas */
    width: 100%; /* Ancho del enlace */
    margin-bottom: 10px; /* Espaciado inferior entre los enlaces */
}

.translucent {
    opacity: 0.5; /* Ajusta el valor de la opacidad según lo desees */
}


.body-error {
    background-color: #FFC436; /* Color de fondo */
    color: white; /* Color del texto */
    font-family: Arial, sans-serif; /* Familia de fuentes */
}

.container-error {
    width: 80%; /* Ancho del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding-top: 50px; /* Espacio superior */
}

.form-error {
    background-color: rgb(255, 196, 54);
    padding: 20px; /* Espacio interno del formulario */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra */
    text-align: center; /* Centra el texto y los botones dentro del formulario */
}

.title-error, .message-error, .btn-return-error {
    text-align: center; /* Centra el texto y los botones dentro del formulario */
}

.message-error {
    margin-bottom: 20px; /* Espacio entre los párrafos */
}

.btn-return-error {
    padding: 10px 20px; /* Espacio interno del botón */
    border: none; /* Quita los bordes */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.btn-return-error:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar sobre el botón */
}
