<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_basic}">


    <head>
        <title th:if="${title}" th:text="${title}">ISIWEEK Loan Services</title>
    </head>

    <body>
        <div layout:fragment="content">
            <div class="container-error">
                <form class="form-error">

                    <h1 class="title-error" th:if="${statusCode}" th:text="${statusCode}">Status Code</h1>
                    <h2 class="title-error" th:if="${exception}" th:text="${exception}">Exception</h2>

                    <p class="message-error" th:if="${errorMessage}" th:text="${errorMessage}">No error message available</p>

                    <div>
                        <button type="button" 
                                onclick="history.back()" 
                                id="cancelButton" 
                                name="cancelButton" 
                                th:text="#{return}" 
                                class="btn btn-secondary btn-return-error">Return</button>            
                    </div>
                </form>
            </div>     
        </div>
    </body>
</html>