<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{jobTitle.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{jobTitle.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/jobTitles}" class="btn btn-secondary">[[#{jobTitle.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('jobTitle')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='jobTitle', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='jobTitle', field='dateCreated', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='jobTitle', field='lastUpdated', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='jobTitle', field='name', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='jobTitle', field='description')}" />
                <input type="submit" th:value="#{jobTitle.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
