<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{phoneNotification.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{phoneNotification.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/phoneNotifications}" class="btn btn-secondary">[[#{phoneNotification.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('phoneNotification')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='phoneNotification', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='phoneNotification', field='dateCreated', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='phoneNotification', field='dateOfCall', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='phoneNotification', field='lastUpdated', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='phoneNotification', field='sentAt', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='phoneNotification', field='subject', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='phoneNotification', field='body', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='phoneNotification', field='loanContract', required=true, type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='phoneNotification', field='person', required=true, type='select')}" />
                <input type="submit" th:value="#{phoneNotification.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
