<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{phoneNotification.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{phoneNotification.list.headline}]]</h1>
                <div>
                    <a th:href="@{/phoneNotifications/add}" class="btn btn-primary ms-2">[[#{phoneNotification.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${phoneNotifications.empty}">[[#{phoneNotification.list.empty}]]</div>
            <div th:if="${!phoneNotifications.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{phoneNotification.id.label}]]</th>
                            <th scope="col">[[#{phoneNotification.dateCreated.label}]]</th>
                            <th scope="col">[[#{phoneNotification.dateOfCall.label}]]</th>
                            <th scope="col">[[#{phoneNotification.lastUpdated.label}]]</th>
                            <th scope="col">[[#{phoneNotification.sentAt.label}]]</th>
                            <th scope="col">[[#{phoneNotification.subject.label}]]</th>
                            <th scope="col">[[#{phoneNotification.body.label}]]</th>
                            <th scope="col">[[#{phoneNotification.loanContract.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="phoneNotification : ${phoneNotifications}">
                            <td>[[${phoneNotification.id}]]</td>
                            <td>[[${phoneNotification.dateCreated}]]</td>
                            <td>[[${phoneNotification.dateOfCall}]]</td>
                            <td>[[${phoneNotification.lastUpdated}]]</td>
                            <td>[[${phoneNotification.sentAt}]]</td>
                            <td>[[${phoneNotification.subject}]]</td>
                            <td>[[${phoneNotification.body}]]</td>
                            <td>[[${phoneNotification.loanContract}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/phoneNotifications/edit/{id}(id=${phoneNotification.id})}" class="btn btn-sm btn-secondary">[[#{phoneNotification.list.edit}]]</a>
                                    <form th:action="@{/phoneNotifications/delete/{id}(id=${phoneNotification.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button type="submit" class="btn btn-sm btn-secondary">[[#{phoneNotification.list.delete}]]</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
