<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
  
<html lang="en" 
      xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <title>[[#{country.list.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{country.list.headline}]]</h1>
                <div>
                    <a th:href="@{/countries/add}" class="btn btn-primary ms-2">[[#{country.list.createNew}]]</a>
                </div>
            </div>
            <div th:if="${countries.empty}">[[#{country.list.empty}]]</div>
            <div th:if="${!countries.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th scope="col">[[#{country.id.label}]]</th>
                            <th scope="col">[[#{country.name.label}]]</th>
                            <th scope="col">[[#{country.description.label}]]</th>
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="country : ${countries}">
                            <td>[[${country.id}]]</td>
                            <td>[[${country.name}]]</td>
                            <td>[[${country.description}]]</td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/countries/edit/{id}(id=${country.id})}" class="btn btn-sm btn-secondary">[[#{country.list.edit}]]</a>
                                    <form th:action="@{/countries/delete/{id}(id=${country.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <div><button type="submit" class="btn btn-sm btn-secondary">[[#{country.list.delete}]]</button></div>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
