<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{person.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{person.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/people}" class="btn btn-secondary">[[#{person.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('person')}" />
            <form th:action="${requestUri}" method="post">
                <input type="submit" th:value="#{person.edit.headline}" class="btn btn-primary mt-4 mb-4" />
                <div th:replace="~{fragments/forms::inputRow(object='person', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='person', field='dateOfBirth', required=true, inputClass='js-datepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='person', field='gender', required=true, type='checkbox')}" />
                <div th:replace="~{fragments/forms::inputRow(object='person', field='dateCreated', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='person', field='lastUpdated', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='person', field='idDoc', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='person', field='phoneNumber1', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='person', field='phoneNumber2')}" />
                <div th:replace="~{fragments/forms::inputRow(object='person', field='email', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='person', field='city', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='person', field='firstName', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='person', field='lastName', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='person', field='state', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='person', field='address', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='person', field='observations')}" />
                <div th:replace="~{fragments/forms::inputRow(object='person', field='occupation')}" />
                <div th:replace="~{fragments/forms::inputRow(object='person', field='photo')}" />
                <div th:replace="~{fragments/forms::inputRow(object='person', field='docType', required=true, type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='person', field='criminalRecord', required=true, type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='person', field='country', required=true, type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='person', field='maritalStatus', required=true, type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='person', field='user', required=true, type='select')}" />
                <input type="submit" th:value="#{person.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
