<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title>[[#{loanContract.edit.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{loanContract.edit.headline}]]</h1>
                <div>
                    <a th:href="@{/loanContracts}" class="btn btn-secondary">[[#{loanContract.edit.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('loanContract')}" />
            <form th:action="${requestUri}" method="post">
                <input type="submit" th:value="#{loanContract.edit.headline}" class="btn btn-primary mt-4 mb-4" />
                <div th:replace="~{fragments/forms::inputRow(object='loanContract', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='loanContract', field='date', required=true, inputClass='js-datepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='loanContract', field='dateOfMaturity', required=true, inputClass='js-datepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='loanContract', field='defaultInterestRate')}" />
                <div th:replace="~{fragments/forms::inputRow(object='loanContract', field='interestRate', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='loanContract', field='loanAmount', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='loanContract', field='payment', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='loanContract', field='prepaymentPenalty')}" />
                <div th:replace="~{fragments/forms::inputRow(object='loanContract', field='dateCreated', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='loanContract', field='lastUpdated', required=true)}" />
                <div th:replace="~{fragments/forms::inputRow(object='loanContract', field='loanPurpose', required=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='loanContract', field='loanTerm', required=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='loanContract', field='collateral')}" />
                <div th:replace="~{fragments/forms::inputRow(object='loanContract', field='customer', required=true, type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='loanContract', field='loanType', required=true, type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='loanContract', field='loanStatus', required=true, type='select')}" />
                <input type="submit" th:value="#{loanContract.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
