<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
  
<html lang="en" 
      xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <title>[[#{emailNotification.add.headline}]]</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 class="flex-grow-1">[[#{emailNotification.add.headline}]]</h1>
                <div>
                    <a th:href="@{/emailNotifications}" class="btn btn-secondary">[[#{emailNotification.add.back}]]</a>
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('emailNotification')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='emailNotification', field='subject')}" />
                <div th:replace="~{fragments/forms::inputRow(object='emailNotification', field='sentAt')}" />
                <div th:replace="~{fragments/forms::inputRow(object='emailNotification', field='body')}" />
                <div th:replace="~{fragments/forms::inputRow(object='emailNotification', field='dateSent', inputClass='js-datetimepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='emailNotification', field='person', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='emailNotification', field='loanContract', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='emailNotification', field='person', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='emailNotification', field='loanContract', type='select')}" />
                <div><input type="submit" th:value="#{emailNotification.add.headline}" class="btn btn-primary mt-4" /></div>
            </form>
        </div>
    </body>
</html>
